// Specific CSS for your home-page
body{
  background-color: #F2F5EF;
  background-image: url(/pages/stylesheets/images/intro-bg.png);
}

h1 {
  color: #30B0EA;
}

.btn-primary {
  background-color: #D4B206;
  border: none;
}
