.fa{
  color: #FFBA00;
}

.card {
  flex: 1 1 auto;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card-body {
  background-image:
  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2));
  background-size: cover;
  height: 180px;
  color: white;
  position: relative;
  cursor: pointer;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px
}
