<h1>Add a restaurant</h1>

<%= render 'form', restaurant: @restaurants %>

<hr>

<%= link_to restaurants_path do %>
  <span class="glyphicon glyphicon-menu-left"></span>
  <span>Back to list</span>
<% end %>

