<div class="form-group">
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, class: "form-control" %>
    <%= f.input :rating, collection: 1..5, class: "form-control"%>
    <%= f.submit "Add a review", class: "btn btn-primary" %>
  <% end %>
</div>
